/*All styles associated with the Title*/
.TitleText{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color:white;
  background-color: #F2A25C;
  border-style: solid;
  border-width: 20px;
}
.TitleImage{
  width:100%; /*Stretches the image across the whole page*/
}
.SubTitleText{
  font-size: 80px;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  color:#141F26;
  background-color: #8C6961;
}

/*All Styles associated with the Everythiong after the Title*/
.BodyDivs{
  text-align: center;
}
.SubDivImage1{
  width:800px;
  /*height: 355px;*/
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
  border-style: solid;
  border-width: 60px;
  color:#141F26;
}
.SubDivImage2{
  width:550px;
  margin-top: 20px;
  margin-right: 40px;
  border-style: solid;
  border-width: 20px;
  color:#141F26;
  display: block;
}
.SubDivText2{
  font-size:100px;
  color:white;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;

}
.SubDivText{
  display: inline;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
  /*margin-left: 10px;
  margin-right: 10px;*/
}

.TestImg{
  float:left;
  width:700px;
  margin-top: 50px;
  border-style: solid;
  border-width: 20px;
  color:#141F26;
  margin-left: 40px;
}
.TestTxt{
  float:left;
  font-size:100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  color:white;
}
.TestTxtDes{
  float:left;
  font-size:30px;
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: 40px;
  color:white;
}
.TestSubDivOutline{
  float:left;
  border-style: solid;
  border-width: 10px;
  color:#141F26;
  background-color: #8C6961;
  margin-top: 50px;
}

.GoBackBut{
  margin-top: 50px;
}
/*All Styles associated with the tags*/
body{
  background-color: #F2A25C/*#141F26*/;
  border-style: solid;
  border-width: 10px;
  border-color:white;
}

h2{
  color:white;
}

figure{
  text-align: center;
  font-size:50px;
  color:white;
}

button{
  width: auto;
  height:100px;
  text-align: center;
  font-size: 70px;
}
