/*I use margin for spacing out different elements
I use padding to space out contents within divs*/

/*All styles associated with the Title*/
.TitleText{
  position:absolute;
  /*top and left set up the text to be moved into the center of the image*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);/*moves the properties around the screen, I'm using this to place my text in the center of an image*/
  font-size: 150px;
  color:white;
  background-color: #F2A25C;
  border-style: solid;
  border-width: 20px;
  font-family: 'Vollkorn SC', serif;
}
.TitleImage{
  width:100%; /*Stretches the image across the whole page*/
}
.SubTitleText{
  font-size: 80px;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  color:#141F26;
  background-color: #8C6961;
  font-family: 'Vollkorn SC', serif;
}

/*All Styles associated with the Everythiong after the Title*/
.BodyDivs{
  text-align: center;
}
.SubDivImage1{
  width:800px;
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
  border-style: solid;
  border-width: 60px;
  color:#141F26;
}
.SubDivImage2{
  width:550px;
  margin-top: 20px;
  margin-right: 40px;
  border-style: solid;
  border-width: 20px;
  color:#141F26;
  display: block;
}
.SidebySideImages{
  width:650px;
  margin-top: 20px;
  margin-right: 40px;
  border-style: solid;
  border-width: 60px;
  color:#141F26;
  display: inline;

}
.SidebySideImages2{
  width:650px;
  height: 434px;
  margin-top: 20px;
  margin-right: 40px;
  border-style: solid;
  border-width: 60px;
  color:#141F26;
  display: inline;
  
}
.SubDivText2{
  font-size:100px;
  color:white;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  font-family: 'Cormorant', serif;
}
.SubDivText{
  display: inline;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
  font-family: 'Cormorant', serif;
}

/*Styles assocaited with Test.html---------------*/
.TestImg{
  float:left;
  width:700px;
  margin-top: 50px;
  border-style: solid;
  border-width: 20px;
  color:#141F26;
  margin-left: 40px;
}
.TestTxt{
  float:left;
  font-size:100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  color:white;
  font-family: 'Cormorant', serif;
}
.TestTxtDes{
  float:left;
  font-size:30px;
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: 40px;
  color:white;
  font-family: 'Cormorant', serif;
}
.TestSubDivOutline{
  float:left;
  border-style: solid;
  border-width: 10px;
  color:#141F26;
  background-color: #8C6961;
  margin-top: 50px;
}
.TestSideBySide{
  box-sizing: content-box;
  float: left;
}
/*----------------------------------------------------------*/

/*All Styles associated with the tags*/
body{
  background-color: #F2A25C/*#141F26*/;
  border-style: solid;
  border-width: 10px;
  border-color:white;
}

h2{
  color:white;
}

figure{
  text-align: center;
  font-size:50px;
  color:white;
  font-family: 'Cormorant', serif;
}

button{
  width: auto;
  height:100px;
  text-align: center;
  font-size: 70px;
}
